:root {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(145deg, rgba(80, 97, 180, 1) 0%, rgba(68, 60, 158, 1) 25%, rgba(13, 26, 85, 1) 100%);
}

html, body {
    height: 100%; /* Zorgt ervoor dat body & html 100% vd hoogte innemen */
    margin: 1; /* Verwijdert marges rond het body-element */
}

body {
    font-family: Bebas Neue;
    text-align: center;   
}
h1 {
    font-size: 3rem;
    background-color: transparent;
}
p {
    font-size: 1.5rem;
    background-color: rgb(44, 54, 108);
}